{% extends 'base.html' %}

{% block title %}
<h1 class="text-center">DETAIL</h1>
{% endblock title %}

{% block content %}
<h3>{{ article.id }}번째 글</h3>
<p>제목: {{ article.title }}</p>
<p>내용: {{ article.content }}</p>
<p>작성 시각: {{ article.created_at }}</p>
<p>수정 시각: {{ article.updated_at }}</p>
<hr>
<a href="{% url 'articles:index' %}">목록보기</a><br>
<a href="{% url 'articles:edit' article.pk %}" class="btn btn-primary">수정하기</a>

<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <button class="btn btn-danger">삭제하기</button>
</form>
{% endblock content %}